/*
Error: Invalid CSS after "3": expected expression (e.g. 1px, bold), was ";"
        on line 183 of css/style.sass

178:         color: $accent-color2
179:         &:hover
180:           color: $accent-color
181: 
182: .open-air
183:   pidding: 3;
184: 
185: .open-air
186:   padding: 1em
187:   padding-top: 2em!important
188:   background-color: $darkest-gray

Backtrace:
css/style.sass:183
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/scss/parser.rb:1163:in `expected'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/script/lexer.rb:220:in `expected!'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/script/parser.rb:601:in `assert_done'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/script/parser.rb:63:in `parse'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/script/parser.rb:183:in `parse'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/script.rb:27:in `parse'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:1120:in `parse_script'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:710:in `parse_property'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:681:in `parse_property_or_rule'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:647:in `parse_line'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:525:in `build_tree'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:544:in `block in append_children'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:543:in `each'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:543:in `append_children'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:534:in `block in build_tree'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:527:in `each'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:527:in `build_tree'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:544:in `block in append_children'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:543:in `each'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:543:in `append_children'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:396:in `_to_tree'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/exec/sass_scss.rb:375:in `run'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/exec/base.rb:40:in `parse'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/lib/sass/exec/base.rb:19:in `parse!'
/Users/chad/.rvm/gems/ruby-2.1.0/gems/sass-3.4.0/bin/sass:13:in `<top (required)>'
/Users/chad/.rvm/gems/ruby-2.1.0/bin/sass:23:in `load'
/Users/chad/.rvm/gems/ruby-2.1.0/bin/sass:23:in `<main>'
/Users/chad/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `eval'
/Users/chad/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"3\": expected expression (e.g. 1px, bold), was \";\"\A         on line 183 of css/style.sass\A \A 178:         color: $accent-color2\A 179:         &:hover\A 180:           color: $accent-color\A 181: \A 182: .open-air\A 183:   pidding: 3;\A 184: \A 185: .open-air\A 186:   padding: 1em\A 187:   padding-top: 2em!important\A 188:   background-color: $darkest-gray"; }
