//navigation elements
footer.footer
  .fix
    padding: 2em 0
    @include media ($small-screen)
      @include span-columns(3)
  background-color: $dark-blue
  min-height: 8em
  padding: 2em
  .lang-item
    float: left
    padding-right: 1em
  .menu-item
    text-align: left
  .gefoerdert
    font-size: 70%
    text-align: right
  .sponsor-logo
    padding-left: 2em
  .footer-logo
    width: 200px
    margin: 1em auto
    img
      text-align: center

