.contentwrap
  position: relative
#mobilewrap
  position: absolute
  display: none
  height: 100%
  max-width: 100%
  top: 0
  bottom: 0
  z-index: 999
  background-color: $accent-color2
.mobileactivator
  display: none
  z-index: 9999
  position: absolute
  top: 6px
  left: 6px
  color: $base-font-color
  border: 3px solid $accent-color2
  background-color:  $accent-color2
  width: 2em
  height: 2em
  border-radius: 50%
  text-align: center
  line-height: 1.75em
  &:hover
    background-color: $primary-color
    border: 3px solid lighten($primary-color, 10)
    color: lighten($primary-color, 15)
  @include media($small-screen)
    display: block

nav.mobile
  text-align: left
  padding: 3em 0
  height: 100%
  li
    list-style: none
    &:last-child
      border: none
  a
    text-transform: uppercase
    padding: 0.5em 1em
    display: block
    color: white
    &:hover
      color: $primary-color
