.contentwrap
  position: relative
#mobilewrap
  padding: 0 1em 0 0
  position: absolute
  display: none
  height: 100%
  max-width: 100%
  top: 0
  bottom: 0
  z-index: 999
.mobileactivator
  display: none
  z-index: 9999
  position: absolute
  top: 0.5em
  left: 0.5em
  color: $base-font-color
  border: 3px solid $base-font-color
  background-color:  $accent-color2
  width: 2em
  height: 2em
  border-radius: 50%
  text-align: center
  line-height: 1.6em
  @include transition (all 0.25s ease-in-out)
  &:hover
    line-height: 2em
    top: 0.25em
    left: 0.25em
    width: 2.5em
    height: 2.5em
    background-color: $primary-color
    border: 3px solid lighten($primary-color, 10)
    color: lighten($primary-color, 15)
    @include transition (all 0.25s ease-in-out)
  @include media($small-screen)
    display: block

nav.mobile
  text-align: left
  padding: 3em 0
  height: 100%
  li
    list-style: none
    &:last-child
      border: none
  a
    text-transform: uppercase
    padding: 0.5em 1em
    display: block
    color: white
    border-left: 0em solid $accent-color2
    @include transition (all 0.25s ease-in-out)
    &:hover
      color: $primary-color
      border-left: 1em solid $primary-color
      @include transition (all 0.25s ease-in-out)
  li.current-menu-item
    a
      color: $primary-color
      border-left: 1em solid $primary-color

