section.themes{
  // background-color: $darkest-gray;
  @include background(linear-gradient($darkest-gray, $base-blue-color, $darkest-gray) left repeat);
  // background-color: @include linear-gradient(to top, $darkest-gray, $base-blue-color, $fallback: $darkest-gray);
}

.flex-boxes {
  ///////////////////////////////////////////////////////////////////////////////////
  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////
  $flex-box-border-color: $light-gray;
  $flex-box-border: 1px solid $flex-box-border-color;
  $flex-box-gutter: 0.5em;
  $flex-box-width: 18em;
  $flex-box-color: $base-font-color;
  margin: -0.5em 0 2.5em -0.5em;

  width: calc(100% + 1em);

    @include clearfix;
    @include display(flex);
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    clear: both;
    text-align: left;

  .themebox {
    opacity: 0;
    @include transition (all 0.2s ease-in-out);
    @include flex(2 2 15em);
    @include align-self(stretch);
    background-size: cover!important;
    background-repeat: no-repeat;
    display: block;
    margin: $flex-box-gutter;
    position: relative;
    min-height: 15em;
    overflow: hidden;
    p{
      font-size: 85%;
    }
    &:focus, &:hover{
      .flex-title h5{
        color: white;
        padding-bottom: 1em;
        @include transition (all 0.2s ease-in-out);
      }
    }
    .flex-title {
      h5{
        color: white;
        position: relative;
        @include transition (all 0.2s ease-in-out);
        &:after{
          content: "";
          position: absolute;
          left: 50%;
          top: 105%;
          @include triangle(75px, $accent-color2, down);
          z-index: 2;
          @include transform(translateX(-50%));
        }
      }
      background-color: $accent-color2;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      padding: 0.5em 1em 0.7em 1em;
      z-index: 1;
      text-align: center;
    }
    &:nth-of-type(1), &:nth-of-type(4){
      @include flex(1 1 40em);
      min-height: 15em;
    }

    p {
      color: $flex-box-color;
      line-height: 1.5em;
      margin: auto;
    }
  }
}

.is-showing {
  opacity: 1!important;
}
